{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<title>Morning Reflection Detail - Note to Self</title>
<link rel="stylesheet" href="{% static 'css/journalentries/bcs-detail.css' %}"/>
{% endblock %} 


{% block content %}
<div class="reflection-detail">
    <h1>Morning Reflection for {{ reflection.date }}</h1>

    <div class="reflection-card">
        <div class="reflection-section">
            <h3>I am grateful for...</h3>
            <p>{{ reflection.Three_things_I_am_grateful_for }}</p>
        </div>

        <div class="reflection-section">
            <h3>What would make today great?</h3>
            <p>{{ reflection.What_would_make_today_great }}</p>
        </div>

        <div class="reflection-section">
            <h3>Daily Affirmation</h3>
            <p>{{ reflection.Daily_affirmation }}</p>
        </div>

        <div class="reflection-section">
            <h3>Image Uploads</h3>
            {% if reflection.Image %}
            <img src="{{ reflection.Image.url }}" alt="Reflection Image">
            {% else %}
                <p>No image uploaded.</p>
            {% endif %}
        </div>

        <div class="reflection-section">
            <h3>Mood</h3>
            <div class="mood-display">
                {% if reflection.Mood %}
                    <img 
                        src="{% static 'images/' %}{{ reflection.Mood }}.png" 
                        alt="{{ reflection.Mood }}" 
                        class="mood-image"
                    >
                    <p>
                        {% if reflection.Mood == 'bad' %}
                            Bad
                        {% elif reflection.Mood == 'not_great' %}
                            Not Great
                        {% elif reflection.Mood == 'okay' %}
                            Okay
                        {% elif reflection.Mood == 'good' %}
                            Good
                        {% elif reflection.Mood == 'great' %}
                            Great
                        {% else %}
                            Unknown Mood
                        {% endif %}
                    </p>
                {% else %}
                    <p>Unknown Mood</p>
                {% endif %}
        </div>
    </div>

    <div class="cat-actions">
        <a href="{% url 'Morning_Reflection_Update' reflection.id %}" class="btn warn">Edit</a>
        <a href="{% url 'Morning_Reflection_Delete' reflection.id %}" class="btn danger">Delete</a>
    </div>
</div>
{% endblock %}
