{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit {{ object.Scenario_Topic }}</h1>
  {% else %}
    <h1>Best Case Scenario</h1>
  {% endif %}
</div>
  <h1>Journaling Exercise</h1>
  <img src="{% static 'images/nerd-cat.svg' %}" alt="Note to Self Image" />
</div>

<form 
    action=""
    method="post" 
    class="subsection-content" 
    autocomplete="off"
    >
        {% csrf_token %} 
        {{ form.as_p }}
      <button type="submit" class="btn submit">Add Scenario Exercise</button>
    </form>

{% endblock %}