{% extends 'base.html' %}  
{% load static %} 

{% block head %}
<title>Confirm Delete - Evening Reflection</title>
<link rel="stylesheet" href="{% static 'css/journalentries/confirmdelete.css' %}"/>
{% endblock %}

{% block content %}
<div class="confirmation-container">
  <h2>Are you sure you want to delete your evening reflection for <em><strong>{{ eveningreflection.date }}</strong></em>?</h2>

  <form action="" method="post" class="subsection-content">
    <p>
      Deleting this reflection will remove it forever. Double-check before you confirm—this action can't be reversed! Are you sure you want to proceed?
    </p>
    {% csrf_token %}
    <div class="confirmation-buttons">
      <a href="{% url 'Evening_Reflection_detail' eveningreflection.id %}" class="btn secondary">Cancel</a>
      <button type="submit" class="btn danger">Yes - Delete!</button>
    </div>
  </form>
</div>
{% endblock %}
