{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="form-container">
  <h1>Evening Reflection</h1>

  <form 
      action=""
      method="post"  
      class="subsection-content" 
      enctype="multipart/form-data"
      autocomplete="off"
  >
      {% csrf_token %}
      {{ form.as_p }}

      <div class="mood-options">
        {% for value, label in form.Mood.field.choices %}
            <label class="mood-option">
                <input type="radio" name="Mood" value="{{ value }}" {% if form.Mood.value == value %}checked{% endif %}>
                <img src="{% static 'images/' %}{{ value }}.png" alt="{{ label }}" class="mood-image">
                <span>{{ label }}</span>
            </label>
        {% endfor %}
    </div>

      <button type="submit" class="btn submit">Add Evening Reflection</button>
  </form>
</div>
{% endblock %}
