{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %} 
{% block content %}

<section class="logo-container">
  <img src="{% static 'images/Red Icon.png' %}" alt="Note to Self Icon" />
  <img src="{% static 'images/Notetoself text logo.png' %}" alt="Text reads: Note to self" />
</section>

{% if not user.is_authenticated %}
<section>
  {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <form action="" method="post" class="signup" autocomplete="off">
      <h1>Sign Up</h1>
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn submit">Submit!</button>
    </form>
  </section>
{% endif %} 
{% endblock %}  

